<div [hidden]="route.children.length !== 0">

    <div class="center">
        <img src="assets/mopvit-logo.png" alt="angular" width="700">
    </div>

    <br>

    <div class="row">
        <div class="column">
            
        </div>
        <div class="column">
            <mat-card class="example-card">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>Login</mat-card-title>
                    <mat-card-subtitle>Para acceder a todas las funciones</mat-card-subtitle>
                </mat-card-header>
                <div class="center">
                    <img mat-card-image src="assets/pngelogin_skyblue.png" alt="Login IMG">
                </div>
                <mat-card-content>
                    <p>
                    Inicie sesión para acceder a todas las funcionalidades de la aplicación, con ello podrá:
                    registrar su vehículo, editarlo o ver los demás vehículos registrados. También podrá ver 
                    la lista de los departamentos en donde operamos junto con todas las ciudades en donde
                    nuestros servicios hacen presencia.
                    </p>
                </mat-card-content>
                <mat-card-actions class="center">
                    <button mat-raised-button routerLink="/login">Acceder</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="column">

        </div>
    </div>
</div>
