<div class="row" >
    <div class="column">

    </div>
    <div class="column" [hidden]="route.children.length !== 0">
        <h2 class="center">Ver lista de vehículos</h2>
        <div class="row">
            <div class="column">
                <div style="text-align: left;">
                    <button mat-icon-button routerLink="/vehiculo/editar-vehiculo"> 
                        <mat-icon>car_rental</mat-icon>
                        <span>Editar vehiculo</span>
                    </button>
                </div>
            </div>
            <div class="column">
                <div style="text-align: left;">
                    <button mat-icon-button routerLink="/vehiculo/registrar-vehiculo"> 
                        <mat-icon>emoji_transportation</mat-icon>
                        <span>Registrar vehiculo</span>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="center">
            
        </div>
    </div>
    <div class="column">
        
    </div>
</div>

<div class="row">
    <div class="column">

    </div>
    <div class="column">
        <router-outlet></router-outlet>
    </div>
    <div class="column">

    </div>
</div>